.categorias-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem 1rem;
}

.categoria {
  flex: 1 1 20%;
  max-width: 20%;
  min-width: 280px;
  background-color: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.lista-compras h1 {
 text-align: center;
 text-decoration: underline;
 margin-bottom: 0.5rem;
 margin-top: 0;
}

.lista-compras ul {
  list-style: none;
  padding-left: 0;
}

.lista-compras li {
  cursor: pointer;
  margin-bottom: 1.5rem;
  font-size: 1em;
  padding: 0.5rem 1rem;
  border-left: 4px solid #4caf50;
  background-color: #f9f9f9;
  position: relative;
  padding-left: 4rem;
  transition: background-color 0.2s ease;
}

.lista-compras li::before {
  content: "✔";
  position: absolute;
  left: 1.2rem;
  color: #4caf50;
  font-weight: bold;
}

.lista-compras li:hover {
  background-color: #e8f5e9;
}
.sin-productos {
  display: block;
  margin-top: 1rem;
  font-style: italic;
  color: #999;
  text-align: center;
}
@media (max-width: 768px) {
  .lista-compras li {
    font-size: 1.5em; /* tamaño de fuente más pequeño en pantallas chicas */
  }
  .lista-compras h1 {
    text-align: center;
    font-size: 1.5em; /* tamaño de fuente más pequeño en pantallas chicas */
    text-decoration: underline;
  }
  .categorias-grid {
    justify-content: space-evenly; /* distribuir mejor el espacio */
  }

  .categoria {
    flex: 1 1 40%; /* 💥 dos columnas en móviles */
    max-width: 40%;
    min-width: 140px;
  }
  .categoria h2 {
    font-size: 2rem; /* tamaño de fuente más pequeño en pantallas chicas */
    text-align: center;
    margin-top: 0;
    text-decoration: underline;
  }
  .categoria li {
    font-size: 1.5rem; /* tamaño de fuente más pequeño en pantallas chicas */
  }
}
